<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="styles/form.css" />
  </head>
  <body>
    <%- include('includes/header') %>
    <div class="container">
      <h1>Administrative Blog Posts</h1>
      <h2>Create a New Post</h2>
      <form action="/posts" method="POST">
        <div class="form-control">
          <label for="title">Title</label>
          <input type="text" id="title" name="title" />
        </div>
        <div class="form-control">
          <label for="content">Content</label>
          <textarea name="content" id="content" cols="30" rows="10"></textarea>
        </div>
        <button class="btn btn-primary">Save</button>
      </form>

      <section class="blog-posts">
        <h2>All Blog Posts</h2>
        <div class="blog-posts-list">
          <ul>
            <% for (const post of posts) { %> <%- include('single-post', {
            post}) %> <% } %>
          </ul>
        </div>
      </section>
    </div>
  </body>
</html>
