<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head.ejs') %>
  </head>
  <body>
    <%- include('includes/header.ejs') %>
    <h1>Welcome to this demo!</h1>
    <p>
      In this demo project, you can create accounts & log in with accounts.
      <br />
      In addition, on the <a href="/admin">/admin page</a>, you can perform CRUD
      operations on blog posts. <br />
      Please note: There are no "user-facing" views (for non-logged-in users)
      for those blog posts.
    </p>
  </body>
</html>
