h2 {
  margin-bottom: 1rem;
}

.container {
  width: 80%;
  margin: 0 auto;
}

form input,
form textarea {
  width: 100%;
  display: block;
}

.form-control label {
  font-weight: bold;
  padding: 0.5rem;
  display: block;
}

.form-control input {
  padding: 0.5rem;
  border: 1px solid #aaa;
  border-radius: 3px;
}

.form-control textarea {
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 0.5rem;
}

.form-control input:focus,
.form-control textarea:focus {
  background-color: rgb(173, 158, 192);
  border: 2px solid black;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  margin: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.btn-primary {
  background-color: rgb(64, 0, 118);
  color: white;
}

.btn-light {
  background-color: white;
  color: rgb(64, 0, 118);
}

section {
  margin-top: 2rem;
}

.blog-posts-list li {
  padding: 2rem 0 0.5rem 0;
  width: 100%;
  box-shadow: 1px 1px 4px #bbb;
  list-style: none;
  margin: 1rem 0;
}

.actions {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
